:root {
    --pink: #ec008c;
    --blue: #71cac4;
    --yellow: #e6bc8f;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/* ------- nav bar styles ----- */
.topnav {
    overflow: hidden;
    box-shadow: 0 0 10px var(--blue);
}

.topnav:hover{
    box-shadow: 0 0 10px var(--yellow);
}

.topnav a:hover {
    color: var(--navbg);
}

.topnav-link {
    float: left;
    color: var(--blue);
    text-align: center;
    padding: 2.5%;
    font-size: 18px;
}

.logo img {
    width: 23%;
    padding-top: 1%;
    padding-left: 1%;
    float: left;
}

.sign-in_and_logo {
    padding-top: 1.5%;
    padding-right: 1.5%;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 5px 10px;
    padding: 10px 0;
    box-shadow: 0 0 10px var(--blue);
    transition: 0.4s;
}

.reg {
    color: white;
    background-color: var(--blue);
    float: right;
}

.log {
    color: var(--blue);
    background-color: rgba(255, 255, 255, 1);
    float: right;
    padding-top: 10px;
}

button:hover {
    color: white;
    box-shadow: 0 0 20px var(--blue);
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
}

.cart-logo {
    padding: 10px 20px 11px;
    float: right;
}


/*Style section for Smartphones/Mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

    #About_us, #Why_us, #Founder_cofounder {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p {
        color: gray;
    }

    .Heading {
        text-align: center;
        padding: 0%;
        color: var(--blue);
        font-size: small ;
    }

    .Heading p {
        padding: 0 10%;
    }

    /* ----- why us part styles ----- */
    #Why_us .outer-partition {
        text-align: center;
    }

    .part {
        width: 100%;
        margin-top: 3% ;
        float: left;
    }

    .part img {
        width: 8%;
    }

    .part h3,p {
        padding: 0 5%;
    }

     /* ----- founder and co founder styles ----- */
    #Founder_cofounder{
        margin: 5% 5%
    }

    .Founder, .COFounder{
        margin: 5% 2%;
        text-align: center;
    }

    .Founder img {
        width: 30%;
        border-radius: 50%;
    }
    
    .COFounder img {
        width: 30%;
        border-radius: 50%;
    }

    .Founder text {
        text-align: justify;
        
    }

    .Founder h2,h3,p {
        font-size: xx-small;
    }

    .COFounder h2,h3,p {
        font-size: xx-small;
    }

    .COFounder text {
        text-align: justify;
    }

    button {
        width: 35%;
        margin: 1%;
    }

    /* ----- footer styles ----- */
    #fb, #ig, #yt, #twitter { 
        width: 50%;
        height: 50%;
    }

    footer {
        text-align: center;
        background-color: #71cac4;
        border-radius: 0.4em;
        padding-top: 1%;
    }

    .foot_table {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    #top_button {
        border: none;
        background: none;
        font-size: 3em;   
    }

    #top_button a {
        color: black
    }

    #top_button a:visited {
        text-decoration: none;
    }
    
    #top_button a:link {
        text-decoration: none;
    }

    #top_button a:active {
        text-decoration: none;
    }

    #top_button a:hover {
        color: #ec008c;
    }
    
}

/*Style section for Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    #About_us, #Why_us, #Founder_cofounder {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p {
        color: gray;
    }

    .Heading {
        text-align: center;
        padding: 0%;
        color: var(--blue);
    }

    .Heading p {
        padding: 0 20%;
    }
    

    /* ----- why us part styles ----- */
    #Why_us .outer-partition {
        display: inline;
        text-align: center;
    }

    .part {
        width: 50%;
        margin-top: 3% ;
        float: left;
    }

    .part img {
        width: 20%;
    }

    .part h3,p {
        padding: 0 5%;
    }


    /* ----- founder and cofounder styles ----- */
    #Founder_cofounder{
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .Founder, .COFounder{
        margin: 5% 20%;
        text-align: center;
    }

    .Founder img {
        width: 50%;
        border-radius: 50%;
    }
    
    .COFounder img {
        width: 50%;
        border-radius: 50%;
    }

    .Founder text {
        text-align: justify;
    }

    .COFounder text {
        text-align: justify;
    }

    button {
        width: 43%;
        margin: 1%;
    }


    /* ----- footer styles ----- */
    #fb, #ig, #yt, #twitter { 
        width: 35%;
        height: 35%;
    }

    footer {
        text-align: center;
        background-color: #71cac4;
        border-radius: 0.4em;
        padding-top: 1%;
    }

    .foot_table {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    #top_button {
        border: none;
        background: none;
        font-size: 3em;   
    }

    #top_button a {
        color: black
    }

    #top_button a:visited {
        text-decoration: none;
    }

    #top_button a:link {
        text-decoration: none;
    }

    #top_button a:active {
        text-decoration: none;
    }

    #top_button a:hover {
        color: #ec008c;
    }

}

/*Style section for Desktop/large screens*/
@media only screen and (min-width: 769px) {
    
    #About_us, #Why_us, #Founder_cofounder {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p {
        color: gray;
    }

    .Heading {
        text-align: center;
        padding: 0%;
    }

    .Heading p {
        padding: 0 20%;
    }


    /* ----- why us part styles ----- */
    #Why_us .outer-partition {
        display: flex;
        margin: 0 3%;
        text-align: center;
    }

    .part {
        width: 25%;
        margin-top: 3% ;
    }

    .part img {
        width: 20%;
    }

    .part h3,p {
        padding: 0 4%;
    }


    /* ----- founder and cofounder styles ----- */
    #Founder_cofounder{
        margin: 5% 20%;

    }

    .Founder img {
        width: 60%;
        border-radius: 50%;
    }

    .Founder .image {
        width: 40%;
        text-align: center;
        float: left;
        margin: 0;
        padding: 2%;
    }

    .Founder .text {
        width: 100%;
        text-align: justify;
        padding: 2%;
    }

    .COFounder img {
        width: 60%;
        border-radius: 50%;
    }

    .COFounder .image {
        width: 40%;
        text-align: center;
        float: left;
        margin: 0;
        padding: 2%;
    }

    .COFounder .text {
        width: 100%;
        text-align: justify;
        padding: 2%;
    }

    button {
        width: 10%;
        margin: 1%;
    }
    

    /* ----- footer styles ----- */
    #fb, #ig, #yt, #twitter { 
        width: 25%;
        height: 25%;
    }

    .fb_img, .ig_img, .tw_img, .yt_img {
        transition: all 0.2s ease-in-out;
    }

    .fb_img:hover, .ig_img:hover, .tw_img:hover, .yt_img:hover {
        transform: scale(1.2);
    }

    footer {
        text-align: center;
        background-color: #71cac4;
        border-radius: 0.4em;
        padding-top: 1%;
    }

    .foot_table {
        margin-left: auto;
        margin-right: auto;
        padding-left: 28%;
        padding-right: 28%;
    }

    #top_button {
        border: none;
        background: none;
        font-size: 3em;   
    }

    #top_button a {
        color: black
    }

    #top_button a:visited {
        text-decoration: none;
    }

    #top_button a:link {
        text-decoration: none;
    }

    #top_button a:active {
        text-decoration: none;
    }
    
    #top_button a:hover {
        color: #ec008c;
    }
}


